body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  width: 1240px;
  height: 4000px;
}

.header {
  background-image: url(../background-img.jpg);
  background-size: cover;
  height: 900px;
  width: 100%;
}
.container {
  background: rgba(0, 0, 0, 0.9);
  height: 900px;
  width: 100%;
}

.logo {
  position: absolute;
  top: 35.77px;
  left: 100px;
  float: left;
}
.header-logo {
  position: absolute;
  width: 173.16px;
  height: 10.46px;
  left: 133.97px;
  top: 43.77px;
  color: #34c759;
}
li {
  list-style: none;
  float: right;
  color: #ffffff;
}
.header-list {
  position: absolute;
  top: 30.77px;
  right: 130px;
}

.menu {
  color: #34c759;
}
.contact {
  margin: 0 0 0 10px;
}
.chefs {
  margin-left: 10px;
}
.recipe {
  margin-left: 10px;
}
.menu {
  margin-left: 10px;
}
.horizontal-header {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  opacity: 0.1;
  border-bottom: none;
}
.placeholder {
  position: absolute;
  top: 80px;
  right: 200px;
  width: 1000px;
  height: auto;
  color: #ffffff;
  font-style: normal;
  font-size: 33px;
  text-align: center;
  letter-spacing: 0.3em;
  line-height: 80px;
  text-transform: capitalize;
}

.barbecue {
  position: absolute;
  top: 280px;
  opacity: 0.7;
  letter-spacing: -0.2px;
  right: 400px;
  line-height: 26px;
}

.greenorder {
  background-color: #44c767;
  -webkit-border-top-left-radius: 42px;
  -moz-border-radius-topleft: 42px;
  border-top-left-radius: 42px;
  -webkit-border-top-right-radius: 42px;
  -moz-border-radius-topright: 42px;
  border-top-right-radius: 42px;
  -webkit-border-bottom-right-radius: 42px;
  -moz-border-radius-bottomright: 42px;
  border-bottom-right-radius: 42px;
  -webkit-border-bottom-left-radius: 42px;
  -moz-border-radius-bottomleft: 42px;
  border-bottom-left-radius: 42px;
  text-indent: 0;
  border: 1px solid #034b75;
  display: inline-block;
  color: #211616;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  height: 60px;
  line-height: 60px;
  width: 155px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 400px;
}
.time {
  position: absolute;
  left: 50px;
  top: 590px;
}
.location {
  position: absolute;

  right: 500px;
  top: 590px;
}
.call {
  position: absolute;
  top: 590px;
  right: 50px;
}

.basics {
  position: absolute;
  height: 700px;
  width: 1100px;
  margin-left: 120px;
  background: #252525;
}
.box {
  font-style: normal;
  font-size: 100px;
  opacity: 0.09;
  letter-spacing: 15px;
}
.food {
  font-style: unset;
  font-size: 30px;
  letter-spacing: 8px;
  font-weight: lighter;
  position: absolute;
  top: 80px;
  left: 260px;
}
.latin {
  width: 70%;
  font-size: 16px;
  margin: auto;
  line-height: 2;
  position: relative;
  bottom: 22px;
  font-weight: lighter;
  opacity: 0.4;
}
.steak {
  position: relative;
  right: 25px;
}
.eggs {
  position: relative;
  left: 25px;
}
.holla {
  margin-top: 740px;
  margin-left: 520px;
  height: 90px;
  width: 290px;
}

.work {
  font-size: 100px;
  font-style: normal;
  letter-spacing: 10px;
  opacity: 0.1;
  font-stretch: extra-condensed;
}
.how {
  position: relative;
  bottom: 140px;
  font-size: 30px;
  letter-spacing: 12px;
  font-weight: lighter;
  font-stretch: semi-condensed;
}
.pick {
  height: 205px;
  width: 255px;
  background-color: #34c759;
  border-radius: 6px;
  position: absolute;
  left: 100px;
}
.pick-h {
  font-size: 22px;
  color: #191919;
}
.pick-p {
  color: #191919;
}
.choose {
  height: 205px;
  width: 255px;
  background-color: #252525;
  border-radius: 6px;
  position: absolute;
  left: 385px;
}
.choose-h {
  font-size: 22px;  
}
.choose-top{
  opacity: 0.7;
  line-height: 18px;
  margin-top: 30px;
}
.fast {
  height: 205px;
  width: 255px;
  background-color: #252525;
  border-radius: 6px;
  position: absolute;
  left: 670px;
}
.fast-h {
  font-size: 22px;
}
.tasty {
  height: 205px;
  width: 255px;
  background-color: #252525;
  border-radius: 6px;
  position: absolute;
  left: 955px;
}
.tasty-h {
  font-size: 22px;
}
p {
  font-size: 13px;
}

.plate {
  width: 400px;
  height: 150px;
  margin-top: 300px;
}
.dishes {
  font-size: 100px;
  font-style: normal;
  letter-spacing: 10px;
  opacity: 0.1;
  font-stretch: extra-condensed;
}
.day {
  font-size: 30px;
  letter-spacing: 12px;
  font-weight: lighter;
  font-stretch: semi-condensed;
  position: relative;
  bottom: 140px;
}

.div-custard {
  height: 490px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  position: absolute;
  left: 100px;
}
.div-nuts {
  height: 490px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  position: absolute;
  right: 100px;
}
.div-veggies-steak {
  height: 490px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  position: absolute;
  left: 100px;
  top: 2820px;
}
.div-boiled-egg {
  height: 490px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  position: absolute;
  left: 500px;
}
.div-tomato {
  height: 490px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  position: absolute;
  left: 500px;
  top: 2820px;
}
.div-pear {
  height: 490px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  position: absolute;
  right: 100px;
  top: 2820px;
}

.classname {
  background-color: transparent;
  -webkit-border-top-left-radius: 28px;
  -moz-border-radius-topleft: 28px;
  border-top-left-radius: 28px;
  -webkit-border-top-right-radius: 28px;
  -moz-border-radius-topright: 28px;
  border-top-right-radius: 28px;
  -webkit-border-bottom-right-radius: 28px;
  -moz-border-radius-bottomright: 28px;
  border-bottom-right-radius: 28px;
  -webkit-border-bottom-left-radius: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-bottom-left-radius: 28px;
  text-indent: 0;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  height: 31px;
  line-height: 31px;
  width: 73px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2f6627;
  position: relative;
  top: 5px;
  left: 9px;
}

.su-chef {
  width: 350px;
  height: 150px;
  margin-top: 1000px;
}
.chef {
  font-size: 100px;
  font-style: normal;
  letter-spacing: 10px;
  opacity: 0.1;
  font-stretch: extra-condensed;
}

.month {
  font-size: 30px;
  letter-spacing: 12px;
  font-weight: lighter;
  font-stretch: semi-condensed;
  position: relative;
  bottom: 140px;
  width: 500px;
  position: relative;
  right: 80px;
}

.profiles {
  width: 1040px;
  display: flex;
  justify-content: space-between;
}
.gregory {
  display: flex;
}
.annette {
  display: flex;
}
.greg {
  display: flex;
}

.food-images {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
}
.f-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3550px;
  left: 180px;
}
.screwdrive{
    width: 530px;
  height: 90px;
  position: relative;
  top: 1980px;
  left: 399px;
}
.screw{
    font-size: 100px;
    font-style: normal;
    letter-spacing: 10px;
    opacity: 0.1;
    font-stretch: extra-condensed;
}
.drive{
    font-size: 30px;
    letter-spacing: 12px;
    font-weight: lighter;
    font-stretch: semi-condensed;
    position: relative;
    bottom: 140px;
    width: 600px;
    position: relative;
    right: 30px;

}
.breakfast{
    height: 510px;
    width: 540px;
    background: url(../images/grill.png);
    position: relative;
    left: 145px;
    top: 6px;
}
.break-top{
  position: relative;
  top: 43px;
}
  .break-middle{
    position: relative;
    top:50px
  }
.break-bottom{
  position: relative;
  top: 50px;
}
.lunch{
    height: 150px;
    width: 540px;
    border-radius: 6px;
    background-color: #252525;
    flex-direction: row;
    
}
.dinner{
    height: 150px;
    width: 540px;
    background: url(../images/placeholder-154.svg);
    margin-top: 30px;
}
.sweets{
    height: 150px;
    width: 540px;
    background-color: #34C759;
    border-radius: 6px;
    margin-top: 30px;
    
}
.meals{
    position: relative;
    top: 2010px;
}
.mealtime{
    position: relative;
    left: 700px;
    bottom: 520px;
}

.social{
  width: 270px;
  height: 90xp;
  margin-top: 3650px;
  margin-left: 510px;
}
.social-top{
  font-size: 100px;
  font-style: normal;
  letter-spacing: 10px;
  opacity: 0.1;
  font-stretch: extra-condensed;
}
.social-middle{
  font-size: 30px;
  letter-spacing: 12px;
  font-weight: lighter;
  font-stretch: semi-condensed;
  position: relative;
  bottom: 140px;
  width: 600px;
  position: relative;
  right: 120px;
}
.twitter{
height: 330px;
width: 350px;
border-radius: 6px;
background-color: #252525;
position: relative;
left: 130px;
}
.twitter-top{
  margin-top: 15px;

}
.twitter-middle{
opacity: 0.5;
}
.twitter-bottom{
  line-height: 30px;
  opacity: 0.8;
}

.instagram{
  height: 330px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  position: relative;
  left: 510px;
  bottom: 330px;
}

  .insta-top{
    margin-top: 17px;
  }
  .insta-middle{
    margin-top: 29px;
  }

.facebook{
  height: 330px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  position: relative;
  left: 890px;
  bottom: 660px;
}
.face-top{
margin-top: 17px;
}
.face-middle{
opacity: 0.5;
}
.face-bottom{
  line-height: 30px;
  opacity: 0.8;
}
.footer{
  width: 1440px;
  height: 275px;
  background-color: #252525;
  position: relative;
  bottom: 500px;
  flex-direction: row;
}
.foot-time{
width: 215px;
height: 90px;
position: relative;
left: 200px;
top: 38px;
}
.foot-location{
  width: 215px;
  height: 90px;
  position: relative;
  left: 570px;
  bottom: 50px;
}
.foot-call{
  width: 215px;
  height: 90px;
  position: relative;
  left: 920px;
  bottom: 139px;
}
.foot-h2{
  font-size: 16px;
  font-weight: 500;
}
.foot-h3{
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
}
.foot-logo{
  position: relative;
  bottom: 600px;
  left: 50px;
}
.yellowstone{
  margin-bottom: 200px;
  position: relative;
  bottom: 600px;
  left: 50px;
  }